/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header{
    height: 60px;
    width: 100%;
    background-color: black;
    border-bottom: 1px solid greenyellow;
    display: flex;
    place-content: center;
    position: fixed;
    top:0;
    width: 100%;
}
.nav-bar{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
.razer-logo{
    height: 40px;
}
.header-nav-link{
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:medium;
    color: rgb(187, 184, 184);
}
.header-nav-link:hover{
    font-weight: 600;
    color: white;
}
.header-nav-box{
    height: 100%;
    display: flex;
    align-items: center;
}
.header-nav-box:hover{
    border-bottom: 2px solid white;
}
.header-nav-icon{
    margin-left: -20px;
}
.razer-notification-info{
    height: 42px;
    margin-top: 60px;
    background-color: #515151;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size:14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.razer-notification-info a{
    text-decoration: none;
    color: white;
}

.info-table{
    background-color: #353535;
    display: grid;
    grid-template-columns: .5fr .5fr;
    gap: 10px;
}
.image-container{
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.razer-panel-1{height:700px;background-image: url("../resources/razer-huntsman-v3-pro-line-homepage-desktop2x.png");}
.razer-panel-2{height: 600px;background-image: url("../resources/razer-mid-year-gear-up-primeday-homepage-desktop2x.png");}
.razer-panel-3{height: 600px;background-image: url("../resources/kitsune-akuma-homepage2x.png");}
.span-column-2{
    grid-column: span 2;
}
.info-table a{
    text-decoration: none;
    color: white;
}
.line1{
    font-family: "Roboto", sans-serif;
    font-size: 55px;
    font-weight: 500;    
}
.line2{
    font-family: "Roboto", sans-serif;  
    font-size: 25px;
    font-weight: 300;
}
.line3{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.green-arrow{
    color: greenyellow;
}
.razer-panel-4{height: 550px;background-image: url("../resources/razer-back-to-school-2024-b-950x580-desktop.png");}
.razer-panel-5{height: 550px;background-image: url("../resources/creator-program-950x580-desktop.png");}
.razer-panel-6{height: 550px;background-image: url("../resources/razer-blade-18-2024-b-950x580-desktop.png");}
.razer-panel-7{height: 550px;background-image: url("../resources/razerstore-rewards-signup-chairs-promo-b-950x580-desktop.png");}
.razer-panel-8{height: 550px;background-image: url("../resources/razer-blade-14-b-950x580-desktop.png");}
.razer-panel-9{height: 550px;background-image: url("../resources/esports-campaign-2024-b-950x580-desktop.png");}
.smaller-line-font-size .line1{
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 500;    
}
.smaller-line-font-size .line2{
    font-family: "Roboto", sans-serif;  
    font-size: 20px;
    font-weight: 300;
}
.smaller-line-font-size .line3{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    place-content: center;
}
footer{
    height: 400px;
    background-color: #101010;
}
.footer-links{
    width: 95%;     
    display: grid;
    grid-template-columns: .14fr .1fr .14fr .13fr .14fr .2fr;
    justify-content: center;
}
.sub-section{
    display: flex;
    flex-direction: column;
}
.razer-footer-quote{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    color: greenyellow;
    display: flex;
    justify-content: right;
}
.subsection-heading{
    color:white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
}
.subsection-links{
    text-decoration: none;
    margin-top: 15px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    font-family: "Roboto", sans-serif;
}
.subsection-links:hover{
    color: white;
    text-decoration: underline;
}
.less-spacing{
    margin-top: 10px;
}
.footer-bottom p{
    font-size: 12px;
    color: rgba(255, 255, 255, .4);
    grid-column: span 2;
}
#hr-bottom{
    border: none;
    height: 1px;
    background-color:rgba(255, 255, 255, .4); 
    grid-column: span 6; 
}
.copyright{
    margin-top: 15px;
    grid-column: span 2;
    font-size: 12px;
    color:rgba(255, 255, 255, .4); 
}
.other-links{
    grid-column: span 2;
    color: rgba(255, 255, 255, .4);
    margin-top: 15px;
    font-size: 12px;
}
.other-links a,.footer-location a{
    text-decoration: none;
    color: rgba(255, 255, 255, .4);
}
.other-links a:hover , .footer-location a:hover{
    color: white;
    text-decoration: underline;
}
.footer-location{
    margin-top: 15px;
    font-size: 12px;
    display: flex;
}
.footer-location p{
    color: white;
}